<h1>Change Password</h1>

<form action="" id='passwordChangeForm' class='passwordChangeForm'>
  <label for="email">Email</label>
  <input type="text" name='email' />
  <br>

  <label for="password">New Password</label>
  <input type="password" name='password' />
  <br>

  <label for="passwordConfirm">Repeat New Password</label>
  <input type="password" name='passwordConfirm' />
  <br>
  <span class='infoMessage' id='passwordError'>{{error}}</span>
  <br>
  <button type="submit">Change Password</button>
  <br>
  <p class='secondaryParagraphs'>Return to
    <a href="/login">LOGIN</a>
  </p>
  <br>

</form>

<script src="/js/changePassword.js"></script>