<section class='chatView'>

  <div class='headerChat'>
  </div>
  {{!-- Chat Header --}}
  <div class='userDiv'>
    <img class='iconUser' src="../images/user.svg" alt="User Icon">
    <p class='userNameFront' id='userNameFront'>{{user.email}}</p>
    <img class='iconChat' src='../images/chatIcon.png' alt="Chat Icon">
  </div>
  {{!-- Chat Messages --}}
  <div class='inputAndMessages'>
    <p class='messagesLog' id='messagesLog'></p>
    <input class='messageInput' id='messageInput' type="text" placeholder='Enter your message...'>
  </div>

  {{!-- Dependencies --}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Include the Dark theme -->
  <link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css">
  <script src="sweetalert2/dist/sweetalert2.min.js"></script>
  {{!-- Socket --}}
  <script src='/socket.io/socket.io.js'></script>
  <script src='/js/chat.js'></script>

</section>