<h1>Forgot your password?</h1>

<form action="" id='passwordResetForm' class='passwordResetForm'>
  <label for="email">Email</label>
  <input type="text" name='email' />
  <br>

  <span class='infoMessage' id='passwordError'>{{error}}</span>
  <br>
  <button type="submit">Reset Password</button>
  <br>
  <p class='secondaryParagraphs'>Return to
    <a href="/login">LOGIN</a>
  </p>
  <br>

</form>

<script src="/js/resetPassword.js"></script>