/*? CARTS VIEW */

.cartTitle {
  text-transform: uppercase;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: rgb(0, 106, 255);
  margin-bottom: 2rem;
}

/* Contenedor de las CARDS */
.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Card */
.cart {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  line-height: 16px;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(0, 106, 255);
  margin: .5rem;
  max-width: 350px;
  min-height: 420px;
  font-size: .8rem;
  background-color: rgba(245, 245, 245);
  overflow: hidden;
}

/* el div productDataContainer */
.cartDataContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: wrap;
}

.productFromCardTitle {
  text-align: center;
  color: #222222;
  margin-bottom: 1rem;
}

.cartDataContainer p {
  color: #464646;
}

.cart p span {
  color: #222222;
  font-weight: bolder;
}

.linkThumbnail {
  color: #464646;
  cursor: pointer;
}

.btnAddToCart {
  margin-top: auto;
}