/*? CHAT VIEW */
.chatView {
  width: 700px;
  background-color: rgba(255, 255, 255, .1);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

/* Header Chat */
.headerChat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNameFront {
  margin: 0 .5rem;
}

.iconChat {
  width: 40px;
  height: auto;
}

.userDiv {
  padding: .5rem;
  align-items: center;
  background-color: #222222;
  border-radius: 5px;
  align-self: center;
  margin-bottom: 1rem;
}

.iconUser {
  margin-right: .5rem;
  height: 20px;
  width: auto;
  filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(108%) contrast(92%);
}

.inputAndMessages {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageInput {
  width: 100%;
  height: 50px;
  border-radius: 8px;
}

.messagesLog {
  width: 100%;
  padding: 0% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222222;
}

.messageContainer {
  margin-bottom: .5rem;
  border-radius: 8px;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  justify-content: end;
}

.messageInfo {
  font-size: .8em;
  font-weight: 400;
  color: #222222;
}

.userMessage {
  font-size: 1em;
  font-style: italic;
  color: #222222;

}

.messagesLog {
  margin: 2rem 0;
  line-height: 1.5;

}

/* Estilo para los mensajes enviados */
.sentMessage {
  background-color: #f2cb5e;
  align-self: flex-end;
}

/* Estilo para los mensajes recibidos */
.receivedMessage {
  background-color: #43c09e;
  align-self: flex-start;
}