<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/chatView.css">
  <link rel="stylesheet" href="/css/cartsView.css">
  <link rel="stylesheet" href="/css/productsView.css">
  <link rel="stylesheet" href="/css/btnPaginate.css">
  <link rel="stylesheet" href="/css/realTimeProductsView.css">

  {{!-- FAVICON --}}
  <link rel="shortcut icon" href="https://i.ibb.co/ZT13Snc/Logo2023.png" type="image/x-icon">

  {{!-- FONTS --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  {{!-- SWEET ALERT --}}
  <link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css">

  <title>Backend Ecommerce</title>

</head>

<body>
  <header class='header'>
    <h1>My Backend App 🥴</h1>
  </header>
  <main class='main'>
    {{{body}}}
  </main>
  <footer class='footer'>
    <div class='footerContainer'>
      <p>[ Developed by Emanuel Escudero ]</p>
      <a href='https://emanuelescudero.ar' rel='noopener noreferrer' target='_blank'>
        <img class='logoDev' src='https://i.ibb.co/ZT13Snc/Logo2023.png' alt='Developer Logo' />
      </a>
    </div>
  </footer>
</body>

</html>